<html>
    <head>
        <title>login</title>
        <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav style="background-color: black;height: 10vh;" class="d-flex align-items-center">
            <div class="container-fluid d-flex flex-row justify-content-between">
                <div class="col-2 d-flex flex-row justify-content-between">
                  <%for(i=0;i<navdata.length;i++){%>
                    <a href="<%=navdata[i]%>"><%=navdata[i]%></a>
                  <%}%>
                </div>
                  <div>
                    <button class="btn btn-<%=color%>"><a href="<%=button%>"><%=button%></a></button>
                  </div>
            </div>
          </nav>
        <div class="container">
            <h1 class=" text-center">AddPost</h1>
        </div>
        <div class="container col-5 d-flex flex-column">
                <input type="text" class="form-control mt-2" name="title" placeholder="title"/>
                <input type="text" class="form-control mt-2" name="desc" placeholder="desc"/>
                <input type="text" class="form-control mt-2" name="tags" placeholder="tags"/>
        </div>
    </body>
</html>