<html>
    <head>
        <title>login</title>
        <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <style>
        </style>
    </head>
    <body>
        <nav style="background-color: black;height: 10vh;" class="d-flex align-items-center">
            <div class="container-fluid d-flex flex-row justify-content-between">
                <div class="col-2 d-flex flex-row justify-content-between">
                  <%for(i=0;i<navdata.length;i++){%>
                    <a href="<%=navdata[i]%>"><%=navdata[i]%></a>
                  <%}%>
                </div>
                  <div>
                    <button class="btn btn-<%=color%>"><a href="<%=button%>"><%=button%></a></button>
                  </div>
            </div>
          </nav>
        <div class="container">
            <h1 class=" text-center">POST</h1>
        </div>
        <div class="container d-flex flex-row justify-content-between flex-wrap">
          <%for(i=0;i<post.length;i++){%>
            <div class="card" style="width: 18rem;">
              <h1 class="text-center"><%=post[i].title%></h1>
              <div class="card-body">
                <p class="text-center"><%=post[i].desc%></p>
                <h5>createdby--<%=post[i].createdby%></h5>
                <h6>Tags--<%=post[i].tags%></h6>
                <button onclick="myFunction()" class="btn btn-info">comment</button>
                <div id="comments">
                  <form action="/post" method="POST">
                    <input type="text" placeholder="add comment" name="comments" class="form-control"/>
                    <input style="display: none;"  value="<%=post[i]._id%>" name="id" readonly/>
                    <button type="submit" class="btn btn-dark">add</button>
                  </form>
                  <%for(j=0;j<comments.length;j++){%>
                      <%if(post[i]._id==comments[j].id){%>
                        <p><%=comments[j].comments%></p>
                      <%}%>
                    <%}%>
                    </div>
                  </div>
                </div>
                <%}%>
        </div>
          <script>
          function myFunction() {
            var comments = document.getElementById(`comments`);
          
            if (comments.style.display === "none") {
             comments.style.display = "inline";
            } else {
             comments.style.display = "none";
            }
          }
          </script>
          
    </body>
</html>